.container {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-size: 4rem;
  color: #363238;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  color: #363238;
}

.hero-section,
.cirugias,
.hospitaliazacion {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.hero-section {
  background-color: #f6effa;
}

.hero-section p {
  width: 50%;
}

.cirugias {
  background-color: #e3c2f3;
}

.hospitaliazacion {
  gap: 30px;
  background-color: #d298f0;
}

.hospitaliazacion ul,
.cirugias ul {
  text-align: center;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
}

.cirugias ul li,
.hospitaliazacion ul li {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 0.8rem;
}

@media screen and (max-width:600px) {

  .hero-section p {
    width: 100%;
  }

  .hero-section,
  .cirugias,
  .hospitaliazacion {
    height: auto;
  }

  .cirugias {
    gap: 25px;
    text-align: center;
  }

}

@media only screen and (max-width: 1252px) {
  h1 {
    font-size: 2rem;
  }
}