.container {
  padding: 0;
  text-align: center;
  display: grid;

}

h1 {
  font-size: 4rem;
}

h2  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  width: 45%;
  max-width: 100%;
  margin-top: 10px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 1rem;
}

ul {
  list-style: none;
  line-height: 28px;
  letter-spacing: 1px;
}

.hero-section,
.cirugias,
.hospitaliazacion {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
}

.hero-section {
  background-color: bisque;
  flex-direction: column;
}

.cirugias {
  background-color: beige;
  flex-wrap: wrap;
}

.cirugias .text,
.hospitaliazacion .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.hospitaliazacion {
  flex-direction: column;
  gap: 30px;
}

.hospitaliazacion ul {
  text-align: center;
}


@media screen and (max-width:600px) {
  .container {
    text-align: center;
  }

  p {
    width: 100%;
  }

  .hero-section {
    height: auto;
  }


}


@media only screen and (max-width: 1252px) {
  h1 {
    font-size: 2rem;
  }

  p {
    width: 100%;
  }

  .hero-section,
  .cirugias,
  .hospitaliazacion {
    height: auto;
  }

  .cirugias {
    gap: 25px;
    text-align: center;
  }


}