.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

h2 {
  margin-bottom: 15px;
}

.container .about-service {
  background-color: rgb(232, 232, 232);
}

.container .about-service {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}


.container .about-service img {
  height: inherit;
}

.container .about-service p {
  width: 80%;
  margin-top: 20px;
}

.container .tratamientos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: rgb(240, 70, 70);
  height: 100%;
  padding: 1rem 2rem;
}

.container .tratamientos p {
  width: 40%;
}

.container .tratamientos ul li {
  list-style: none;
}

.container .tratamientos img {
  height: 200px;
}


.container .sintomas {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background-color: rgb(252, 121, 73);
  text-align: center;
}

.sintomas ul {
  list-style: none;
  font-size: 1.4rem;
  line-height: 40px;
}

.agendar-cita {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 30vh;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agendar-cita button {
  width: 200px;
  padding: 16px 0;
  border: none;
  background-color: rgb(236, 89, 89);
  color: whitesmoke;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.agendar-cita button:hover {
  background-color:rgba(236, 89, 89, 0.807) ;
}

.agendar-cita button:focus {
  background-color:rgba(236, 22, 22, 0.807) ;
}