.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 15px;
  padding: 1rem;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 30px;
}

h1,
h2 {
  text-shadow: 1px 1px 10px rgba(187, 181, 181, 0.5);
  color: #363238;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  letter-spacing: 0.12em;
  font-size: 1.1rem;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section {
  align-items: center;
  background-color: #d298f0;
}

.hero-section p {
  font-size: 1.5rem;
  letter-spacing: 0.12em;
  line-height: 45px;
  width: 60%;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 8px;
}

/* Secciones */
.hero-section,
.servicio-peluqueria,
.tratamientos-especiales {
  width: 100%;
  flex: 1;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(53, 52, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicio-peluqueria {
  background-color: rgb(248, 248, 181);
}

.servicio-peluqueria li {
  background-color: rgb(255, 229, 111);
}

.servicio-peluqueria li,.tratamientos-especiales li {
  padding: 0.8rem;
  border-radius: 8px;
}

.tratamientos-especiales {
  color: #ffffff;
  background-color: #d298f0;
}

.tratamientos-especiales li {
  background-color: #e2b7f8;
}

.row {
  display: flex;
  gap: 10px;
}

/* Responsive */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }

  .hero-section p {
    width: 100%;
    font-size: 0.9rem;
  }

  .hero-section p, ul {
    line-height: normal;  font-size: 0.9rem;
  }

  .row {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
.row {
  flex-direction: column;
}
}
