.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h1,h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p, ul {
  line-height: 24px;
  letter-spacing: 1px;
}

p {
  width: 50%;
}

ul {
  list-style: none;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1200px) {
 p {
    width: 100%;
    padding:1rem ;
  }
}