
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  padding: 1rem;
}


h1 {
  font-size: 3rem;
  color: #a70cf5;
}

h2 {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  color: rgb(5, 5, 5);
}

ol {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

ol,
.atencion .row {
  line-height: 40px;
}

.hero-section p,
ol,
.atencion .row {
  letter-spacing: 1px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 2rem;
  background-color: rgb(236, 235, 235);
}

.hero-section p {
  font-size: 1.2rem;
  font-weight: bold;
}

.atencion {
  width: 100%;
  padding: 1rem;
  background-color: #e2b7f8;
}

.hero-section,.atencion { 
  border-radius: 8px;
}

.atencion .row {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.atencion h2 {
  color: rgb(236, 235, 235);
}

.atencion p {
  color: #fff;
  width: 60%;
}

.atencion ul {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width:600px) {


  h1 {
    text-align: center;
    font-size: 2.4rem;
  }

  .atencion p {
    width: 100%;
  }
}

@media screen and (max-width:1000px) {

  p,
  ul,
  ol {
    font-size: 1rem;
    text-align: center;
  }

  p {
    width: 100%;
  }
}