
h1 {
  font-size: 3rem;
  color: #a70cf5;
}

h2 {
  font-size:2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

ol {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

ol,.atencion .row{
  line-height: 40px;
}

.hero-section p ,ol,.atencion .row{
  letter-spacing: 1px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 2rem 0;
  background-color: rgb(236, 235, 235);
}

.hero-section p {
  font-size: 1.2rem;
  font-weight: bold;
}

.atencion {
  width: 100%;
  padding: 1rem;
  background-color: #a70cf5;
}

.atencion .row {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.atencion h2 {
  color: rgb(236, 235, 235);
}

.atencion p {
  color: #fff;
  width: 60%;
}

.atencion ul {
  display: flex;
  flex-direction: column;
  color: aqua;
}


@media screen and (max-width:600px) {

p, ul ,ol{
  font-size: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
}
.atencion {
  width: 100%;
}
}

@media screen and (max-width:1400px){
  p,ul {
    width: 100%;
  }
  .atencion .row{
    gap: 2rem;
  }
}