.container {
  display: grid;
}


.hero-section {
  height: 100%;
  width: 100%;
  background-color: rgb(235, 237, 234);
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h2,
p {
  text-align: center;
}

.container p {
  font-size: 1.3rem;
  margin:  20px 0;
  width: 60%;
  max-width: 100%;
  line-height: 32px;
}

.hero-section,
.vacunacion,
.desparacitacion,
.info,
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacunacion {
  height: 100%;
  width: 100%;
  background-color: rgb(19, 25, 58);
  padding: 1rem;
  color: whitesmoke;
}

.vacunas-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.vacunas-perros,
.vacunas-gatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacunas-perros .vacunas-perros-h3,
.vacunas-gatos .vacunas-gatos-h3 {
  text-align: center;
margin-bottom: 10px;
}

.vacunas-perros .vacunas-perros-h3 {
  color: rgb(234, 106, 106);
}

.vacunas-gatos .vacunas-gatos-h3 {
  color: rgb(248, 255, 112);
}

.vacunas-container ul {
  list-style: none;
}

.vacunas-container li {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}


.desparacitacion {
    height: 100%;
  width: 100%;
  padding: 1rem;
  color: rgb(0, 0, 0);
}

.desparacitacion h3 {
  color: rgb(118, 199, 107);
}

.desparacitacion-tipos {
  margin-top: 2rem;
  list-style: none;
  font-size: 1.3rem;
}

.info {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: bisque;
}

.info ul {
  width: 100%;
  list-style: none;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;

}

@media only screen and (max-width: 600px) {

  p {
    padding: 1rem;
    width: 100%;
  }

  .vacunas-container {
    flex-wrap: wrap;
    gap: 15px;
  }

  .vacunas-container ul h3 span,
  .desparacitacion ul h3 span {
    height: 20px;
  }

  .desparacitacion-tipos {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
  }

  .info ul {
    flex-direction: column;
    gap: 15px;
  }
}


@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }

  .info ul {
    flex-wrap: wrap;
    gap: 15px;
  }
}
