.hero-section {
  padding: 2rem 0;
}

.hero-section .hero-title {
  margin-left: 40px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.hero-section .favorites {
  background-color: rgb(251, 249, 249);
  padding: 1rem;
}

.favorites ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
}

.favorites .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 2rem;
}

.favorites li img {
  width: 100%;
  height: 100%;
}

.favorites .offers {
  background-color: rgb(2, 2, 2);
}

.hero-section .circle-grey-bg {
  background-color: #efefed;
}

.favorites .offers a {
  text-decoration: none;
  color: gold;
}

.hero-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-products-card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(211, 208, 208, 0.5);
  padding: 1rem;
}

.hero-products-card-img {
  display: block;
}

.hero-products-card-title {
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
}

.hero-products-card-brand {
  color: rgb(198, 198, 199);
  width: 100%;
  margin-left: 50px;
}

.hero-products-card-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-products-card-button {
  padding: 10px;
  background-color: rgb(255, 219, 12);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.hero-products-card-button:hover {
  background-color: rgb(242, 222, 110);
}

/*Responsive*/


@media only screen and (max-width:768px) {

  .favorites ul {
    grid-template-columns: repeat(auto-fit, 100px);
  }

  .favorites .offers a {
    font-size: 16px;
    font-weight: 500;
  }

  .favorites .circle-grey-bg {
    padding: 2rem;
  }

  .favorites li img {
    width: 100%;
  }

  .hero-section {
    height: auto;
  }

}