.hero-section {
  padding: 2rem 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-section .hero-title {
  margin-left: 233px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.hero-section .offers-container {
  background-color: rgb(251, 249, 249);
  padding: 1rem;
  width: 100%;
}

.offers-container ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
}

.offers-container .circle {
  width:100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.offers-container li a {
  width: auto;
}

.offers-container .offers-text{
  background-color: #b83af7;
}

.hero-section .circle-grey-bg {
  background-color: #efefed;
}

.offers-container .offers-text a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
}

.offers-container img {
  width: 250px;
}

.hero-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-products-card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(211, 208, 208, 0.5);
  padding: 1rem;
}

.hero-products-card-img {
  display: block;
}

.hero-products-card-title {
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
}

.hero-products-card-brand {
  color: rgb(198, 198, 199);
  width: 100%;
  margin-left: 50px;
}

.hero-products-card-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-products-card-button {
  padding: 10px;
  margin-top: 5px;
  background-color: #b83af7;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(46, 45, 45, 0.5);
}

.hero-products-card-button:hover {
  background-color: #b83af7ca;
}

/*Responsive*/


@media only screen and (max-width:768px) {

  .offers-container ul {
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 5px;
  }

  .offers-container .circle{
    padding: 0;
  }

  .offers-container img {
    width: 100%;
  }

  .offers-container .offers-text a {
    font-size: 10px;
  }

}