.container {
 height: 100vh;
  width: 100%;
  display: flex;
}

aside {
  width: 20vw;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: 100%;
  gap: 10px;
  padding:0  1rem 1rem 1rem;
}

.hero-section  article {
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: end;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 -80px 30px 0 rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

.hero-section  article a {
  text-decoration: none;
  font-weight: 600;
  color: whitesmoke;
  font-size: 1.3rem;
}

.hero-section .consultas-generales,
.hero-section .cirugias,
.hero-section .vacunacion,
.hero-section .tienda,
.hero-section .urgencias,
.hero-section .peluqueria  {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero-section .consultas-generales {
  background-image: url('./assets/consultas-generales-article-background.png');
}

.hero-section .cirugias {
  background-image: url('./assets/cirugias-article-background.png');
}

.hero-section .vacunacion {
  background-image: url('./assets/vacunacion-article-background.png');
}

.hero-section .tienda {
  background-image: url('./assets/tienda-article-background.png');
}

.hero-section .urgencias{
  background-image: url('./assets/urgencias-article-background.png');
}

.hero-section .peluqueria {
  background-image: url('./assets/peluqueria-article-background.png');
}

aside img {
  width:inherit;
  height: 100%;
  display: block;
}